 # Visual Studio build folders
.vs/
Debug/
Release/

# Archivos temporales de compilación
*.obj
*.exe
*.pdb
*.ilk
*.log
*.tmp
*.cache
*.VC.db
*.VC.VC.opendb

# Archivos de configuración de usuario
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos de backup
*.bak
~$*

# Otros archivos no necesarios
ipch/
